<section class="view-window">
  <h3>Account Details</h3>
  <div class="row">
    <div class="col col-xs-12 col-sm-4">
      <!-- start User section -->
      <section class="user-section">
        <div class="add-heading">
          <div class="message-section" ng-show="userError">
            <p class="alert alert-danger" role="alert" id="message">{{message}}</p>
          </div>
          <div class="message-section" ng-if="currentUser.users == null">
            <p style="margin-bottom: 0;" class="alert alert-info">You can set up multiple users</p>
          </div>
          <h3>Users</h3>
          <button class="btn btn-sm btn-green" ng-show="!userAdd" ng-click="userAdd = ! userAdd"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button>
        </div>
        <!-- show current users/ability to update them -->
        <div  ng-show="userAdd">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="User Name" ng-model="newUser">
            </div>
            <button type="submit" ng-click="addUser(newUser)" class="btn btn-sm btn-green">Add User</button>
            <button type="button" ng-click="userAdd = ! userAdd" class="btn btn-sm btn-warning">Cancel</button>
          </form>
        </div>
        <!-- current users table -->
        <div ng-if="currentUser.users != null">
          <table class="table">
            <thead>
              <tr>
                <th>Current Users</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users">
                <td ng-bind="user"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!-- end User Section -->
    </div>
    <!-- category/col start -->
    <div class="col col-xs-12 col-sm-7 col-sm-offset-1">
      <!-- <div> -->
        <!-- <h3>Categories</h3> -->
        <section class="category-group">
          <section class="category-form" id="section-category-form">
            <div class="message-section" ng-if="categories.length == 0">
              <p style="margin-bottom: 0;" class="alert alert-info" role="alert" id="categoryMessage">Set up categories for tracking your expenses and income. Example: "Groceries", "Paycheck", "Auto"</p>
            </div>
            <div class="add-heading">
              <h3>Categories</h3>
              <button type="button" class="btn btn-sm btn-green" ng-show="!categoryEditing" ng-click="categoryEditing = ! categoryEditing"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</button>
            </div>
            <categories ng-show="categoryEditing"></categories>
          </section>
          <!-- <section class="category-table category-table-regular" ng-if="!editing"> -->
            <category-list></category-list>
          <!-- </section> -->
        </section>
      <!-- </div> -->
    </div>
    <!-- category/col end -->

    <!-- row end -->
  </div>
</section>
