<section class="view-window analysis">
  <section ng-if="editing" class="transaction-form col-xs-12 col-sm-6">
    <h4>Edit Transaction</h4>
    <form name="transactionForm">
      <div class="message-section" ng-show="error">
        <p class="alert alert-danger" role="alert" id="message">{{message}}</p>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <button class="btn btn-warning btn-date" name="submit" type="button" ng-click="setToday()">Today</button>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <button class="btn btn-warning btn-date" name="submit" type="button" ng-click="setYesterday()">Yesterday</button>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <!-- <label>Date</label> -->
          <div class="input-group date btn-date" id="date-picker" datepicker ng-model="transaction.date">
            <input data-format="mm-dd-yyyy" type="text" class="form-control" placeholder="Select a date" id="chosen-date">
            <div class="input-group-addon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- cateogry dropdown -->
      <div class=" col-xs-12 col-md-4">
        <div class="form-group">
          <label>Category * <span ng-click="toggleAddCategory()" style="color: green; font-size: 12px; cursor: pointer;">New<span></label>
          <select class="form-control category-select" ng-model="transaction.category" ng-options="category as category.category_name for category in categories | orderBy: 'category_name'" ng-change="checkAmount()">
            <option label="" value=""></option>
          </select>
        </div>
      </div>
       <!-- amount -->
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <label>Amount *</label>
          <input type="number" step="0.01" min="0" class="form-control" placeholder="$" ng-model="transaction.amount">
        </div>
      </div>

      <!-- individual user (if exists) -->
      <div class="col-xs-12 col-md-4" ng-if="users.length > 0">
        <div class="form-group ">
          <label>User</label>
          <select class="form-control" ng-model="transaction.user_indiv" ng-options="user as user for user in users">
            <option label="" value=""></option>
            option
          </select>
        </div>
      </div>

      <!-- desctiption -->
      <div class=" col-xs-12 col-sm-12">
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control" ng-model="transaction.description"></textarea>
        </div>
      </div>

    <!-- <div class="row"> -->
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <button class="btn btn-primary btn-full" name="submit" type="submit" ng-if="editing" ng-click="updateTransaction()">Update</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          <button style="width: 100%" type="button" class="btn btn-warning" ng-if="editing" ng-click="cancelEdit()">Cancel</button>
        </div>
      </div>
    </form>
  </section>

  <section class="transactions-list" ng-hide="editing">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4 style="display: inline-block;">Recent Transactions</h4>
        <div class="btn-group" style="margin-left: 30px;">
          <button type="button" ng-click="toggleRange(7)" ng-class="{active: expenseRange == 7}" class="btn btn-sm btn-info">7 Days</button>
          <button type="button" ng-click="toggleRange(14)" ng-class="{active: expenseRange == 14}" class="btn btn-sm btn-info">14 Days</button>
          <button type="button" ng-click="toggleRange(30)" ng-class="{active: expenseRange == 30}" class="btn btn-sm btn-info">30 Days</button>
        </div>
        <div class="col-xs-12" ng-show="transactionSuccess">
          <div class="message-section">
            <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
            <p class="add-success"> {{successMessage}}</p>
          </div>
        </div>
        <div style="margin-top: 10px;" transactions-list></div>
      <div>
    </div>
  </section>


</section>
