<section class="view-window analysis">

  <section class="transactions-list">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4 style="display: inline-block;">Recent Transactions</h4>
        <div class="btn-group" style="margin-left: 30px;">
          <button type="button" ng-click="toggleRange(7)" ng-class="{active: expenseRange == 7}" class="btn btn-sm btn-blue">7 Days</button>
          <button type="button" ng-click="toggleRange(14)" ng-class="{active: expenseRange == 14}" class="btn btn-sm btn-blue">14 Days</button>
          <button type="button" ng-click="toggleRange(30)" ng-class="{active: expenseRange == 30}" class="btn btn-sm btn-blue">30 Days</button>
        </div>
        <div class="col-xs-12" ng-show="transactionSuccess">
          <div class="message-section">
            <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
            <p class="add-success"> {{successMessage}}</p>
          </div>
        </div>
        <div style="margin-top: 10px;" transactions-list></div>
      <div>
    </div>
  </section>


</section>
