<section class="view-window">
  <h5>To use Expense Tracker, you must first set up categories of spending/income</h5>
  <section>
    <form class="form-horizontal" name="categoryForm">
      <div class="message-section" ng-show="error">
          <p class="alert alert-danger" role="alert" id="message">{{message}}</p>
      </div>
      <div class="form-group">
        <!-- <label for="categoryName" class="col-xs-2 control-label">Category</label> -->
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <input type="text" name="categoryName" class="form-control" placeholder="Category Name" ng-model="category.category_name" required>
        </div>
      </div>
      <div class="form-group">
        <div class="btn-group col-xs-12 col-sm-offset-3 col-sm-6">
          <button type="button" ng-click="toggleCatType('expense')" ng-class="{active: category.type == 'expense'}" class="btn btn-primary">Expense</button>
          <button type="button" ng-click="toggleCatType('income')" ng-class="{active: category.type == 'income'}" class="btn btn-primary">Income</button>
        </div>
      </div>


      <div class="form-group form-inline repeat-ctrl">
        <div class="col-xs-12 col-sm-offset-3 col-sm-4">
          <div class="checkbox">
            <label> Recurring? </label>
            <input class="repeat-check" type="checkbox" ng-model="category.repeat">
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="category.repeat">
        <div class="col-xs-12 col-sm-offset-3 col-sm-2">
          <input type="number" class="form-control repeat-amt" ng-model="category.repeat_amount" placeholder="Amount">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2 col-xs-10">
          <button type="submit" class="add-cat-btn btn btn-default" ng-click="addCategory()">Add Category</button>
        </div>
      </div>
    </form>
  </section>

  <section class="category-table">
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <caption>Current Categories</caption>
          <thead>
            <tr>
              <th>Category</th>
              <th>Type</th>
              <th>Recurring</th>
              <th>Recurring Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="category in categories | orderBy: 'category_name'">
              <td>{{category.category_name}}</td>
              <td>{{category.type}}</td>
              <td>{{category.repeat}}</td>
              <td>{{category.repeat_amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>
