<!-- <section class="view-window"> -->
            <!-- info main for non-logged in users -->
    <section ng-if="!isAuthenticated()">
      
      <div id="landing-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#landing-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#landing-carousel" data-slide-to="1"></li>
          <li data-target="#landing-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="fill" style="background-image:url('../images/mainTrack.png');">
            </div>
            <div class="carousel-caption">
              <h1>Track your spending</h1>
              <h3>Create categories that match your lifestyle.</h3>
              <h3>Supports multi-user budget tracking.</h3>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('../images/pieChart.png');">
            </div>
            <div class="carousel-caption">
              <h1>Analyze your spending</h1>
              <h3>Easy to read visual analysis of your budget.</h3>
              <h3>Multiple ways to view your data.</h3>
            </div>
          </div>
          <div class="item">
            <div class="fill">
            </div>
            <div class="carousel-caption">
              <h1>Get Started Now</h1>
              <p>
                <a href="/register" class="btn btn-green btn-lg">Register</a>
                <a href="/login" class="btn btn-green btn-lg">Sign In</a>
              </p>
              <h3>Not ready to sign up? Try out the test account!</h3>
              <h3>Username: test</h3>
              <h3>Password: test</h3>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#landing-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#landing-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </section>

    <!-- Tracking main for logged in users-->
    <!-- in here we can render all the tracked stuff -->
    <section ng-if="isAuthenticated()">
        <track ></track>
    </<section>

<!-- </section> -->




