<section class="view-window">
  <!-- Add new transactions

  individual user
  amount
  category
  type (get this from the category)
  description
  then just show the dropdown and a place for the cost and a submit -->
  <section>
    <form class="form-horizontal" name="categoryForm">
      <div class="message-section" ng-show="error">
        <p class="alert alert-danger" role="alert" id="message">{{message}}</p>
      </div>

      <div class="row">
        <!-- date -->
        <div class="form-group col-xs-12 col-sm-3">
                <label>Date *</label>
          <div class="input-group date" id="date-picker" datepicker ng-model="transaction.date">
            <input data-format="mm-dd-yyyy type="text" class="form-control" placeholder="Select a date" id="chosen-date" required>
            <div class="input-group-addon">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>

        <!-- amount -->
        <div class="form-group col-xs-12 col-sm-3">
          <label>Amount *</label>
          <input type="number" step="0.01" min="0" class="form-control" placeholder="$" ng-model="transaction.amount">
        </div>
      </div>

      <div class="row">
        <!-- cateogry dropdown -->
        <div class="form-group col-xs-12 col-sm-3">
          <label>Category *</label>
          <select class="form-control" ng-model="selectedCategory" ng-options="category as category.category_name for category in categories | orderBy: 'category_name'" ng-change="setCategory(selectedCategory)" required>
            <option label="" value=""></option>
            option
          </select>
        </div>

        <!-- individual user (if exists) -->
      </div>

      <div class="row">
        <!-- desctiption -->
        <div class="form-group col-xs-12 col-sm-6">
          <label>Description</label>
          <textarea name="description" class="form-control" ng-model="transaction.description"></textarea>
        </div>
      </div>

      <div class="row col-xs-12 col-sm-6">
        <div class="form-group">
          <button class="btn btn-primary " name="submit" type="submit" ng-click="addTransaction()">Add Transaction</button>
        </div>
      </div>
    </form>

  </section>

</section>
