<section class="transactions-table">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Description</th>
          <th>User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in transactions | orderBy: 'date'"
            ng-class="{danger: t.type == 'expense', success: t.type == 'income'}">
          <td>
            <span>{{t.date | shortDate}}</span>
          </td>
          <td>
            <span>{{t.category}}</span>
          </td>
          <td>
            <span>{{t.amount}}</span>
          </td>
          <td>
            <span>{{t.description}}</span>
          </td>
          <td>
            <span>{{t.user_indiv}}</span>
          </td>
          <td>
            <button type="button" class="btn btn-xs btn-primary" ng-click="editTransaction(t); editing = true;">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
