<section class="transactions-table">
  <div class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Amount</th>
          <th class="hide-sm">Description</th>
          <th class="hide-sm">User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in transactions| orderBy: 'date' : true | transactionRange:expenseRange"
            ng-class="{danger: t.type == 'expense', success: t.type == 'income'}">
          <td>
            <span>{{t.date | shortDate}}</span>
          </td>
          <td>
            <span>{{t.category}}</span>
          </td>
          <td>
            <span>{{t.amount}}</span>
          </td>
          <td class="hide-sm">
            <span>{{t.description}}</span>
          </td>
          <td class="hide-sm">
            <span>{{t.user_indiv}}</span>
          </td>
          <td>
            <button type="button" class="btn btn-xs btn-blue" ng-click="editTransaction(t); editing = true;"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-red btn-xs" ng-click="deleteTransaction(t)"><i class="fa fa-trash-o "></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
