<section class="transactions-table">
  <div class="col-xs-12">
    <div class="btn-group range-btn-group">
      <button type="button" ng-click="toggleRange(7)" ng-class="{active: expenseRange == 7}" class="btn btn-blue">7 Days</button>
      <button type="button" ng-click="toggleRange(14)" ng-class="{active: expenseRange == 14}" class="btn btn-blue">14 Days</button>
      <button type="button" ng-click="toggleRange(30)" ng-class="{active: expenseRange == 30}" class="btn btn-blue">30 Days</button>
      <button type="button" ng-click="toggleRange('other')" ng-class="{active: expenseRange == 'other'}" class="btn btn-blue">Other</button>
    </div>
    <div class="message-section" ng-show="rangeError">
      <p class="alert alert-danger" role="alert" id="transactionTableMessage">{{message}}</p>
    </div>
    <div class="range-picker-container form-inline" ng-show="expenseRange == 'other'">
      <div class="form-group">
        <div class="input-group date btn-date" id="date-range-picker-start" datepicker ng-model="dateRangeStart">
          <input data-format="mm-dd-yyyy" type="text" class="form-control phone-btn btn-blue" placeholder="Start" id="date-range-picker-start-sm">
          <input data-format="mm-dd-yyyy" type="text" class="form-control track-input" placeholder="Start" id="date-range-picker-chosen-date-start">
          <div class="input-group-addon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group date btn-date" id="date-range-picker-end" datepicker ng-model="dateRangeEnd">
          <input data-format="mm-dd-yyyy" type="text" class="form-control phone-btn btn-blue" placeholder="End" id="date-range-picker-end-sm">
          <input data-format="mm-dd-yyyy" type="text" class="form-control track-input" placeholder="End" id="-date-range-picker-chosen-date-end">
          <div class="input-group-addon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <button type="button" ng-click="getRange(dateRangeStart, dateRangeEnd)" class="btn btn-green range-get">Go</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Amount</th>
          <th class="hide-sm">Description</th>
          <th class="hide-sm">User</th>
          <th class="hide-sm"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in displayTransactions | orderBy: 'date' : true | transactionRange:expenseRange:rangeStart:rangeEnd"
            ng-class="{danger: t.type == 'expense', success: t.type == 'income'}"
            ng-click="editTransaction(t)" data-toggle="modal" data-target="#editTransaction">
          <td class="phone-data">
            <span>{{t.date | shortDate}}</span>
          </td>
          <td class="phone-data">
            <span>{{t.category}}</span>
          </td>
          <td class="phone-data">
            <span>{{t.amount}}</span>
          </td>
          <td class="hide-sm">
            <span>{{t.description}}</span>
          </td>
          <td class="hide-sm">
            <span>{{t.user_indiv}}</span>
          </td>
          <td class="hide-sm">
            <button type="button" class="btn btn-xs btn-blue"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </td>

          <!-- Modal -->
            <div class="modal fade edit-transaction-modal" id="editTransaction" role="dialog">
              <div class="modal-dialog" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit </h4>
                  </div>
                  <div class="modal-body">
                    <div ng-hide="updateSuccess">
                      <div class="message-section" ng-show="error">
                        <p class="alert alert-danger" role="alert" id="message">{{message}}</p>
                      </div>
                        <!-- date -->
                        <div class="col-xs-4 col-md-4 col-sm-12">
                          <div class="form-group">
                            <button class="btn btn-blue btn-date phone-btn" name="submit" type="button" ng-click="setEditToday()">Today</button>
                          </div>
                        </div>
                        <div class="col-xs-4 col-md-4 col-sm-12">
                          <div class="form-group">
                            <button class="btn btn-blue btn-date phone-btn" name="submit" type="button" ng-click="setEditYesterday()">Yesterday</button>
                          </div>
                        </div>
                        <div class="col-xs-4 col-md-4 col-sm-12">
                          <div class="form-group">
                            <!-- <label>Date</label> -->
                            <div class="input-group date btn-date" id="date-picker-edit" datepicker ng-model="editTran.date">
                              <input data-format="mm-dd-yyyy" type="text" class="form-control btn-blue phone-btn" placeholder="Select a date" id="chosen-date-edit">
                              <input data-format="mm-dd-yyyy" type="text" class="form-control track-input" placeholder="Other" id="chosen-date-edit-sm">
                              <div class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- cateogry dropdown -->
                        <div class=" col-xs-12 col-md-4">
                          <div class="form-group">
                            <label>Category</label>
                            <select class="form-control category-select" ng-model="editTran.category" ng-options="category as category.category_name for category in categories | orderBy: 'category_name'" ng-change="checkAmount()">
                              <option label="" value=""></option>
                            </select>
                          </div>
                        </div>
                         <!-- amount -->
                        <div class="col-xs-12 col-md-4">
                          <div class="form-group">
                            <label>Amount *</label>
                            <input type="number" step="0.01" min="0" class="form-control" placeholder="$" ng-model="editTran.amount">
                          </div>
                        </div>
                        <!-- individual user (if exists) -->
                        <div class="col-xs-12 col-md-4" ng-if="users.length > 0">
                          <div class="form-group ">
                            <label>User</label>
                            <select class="form-control" ng-model="editTran.user_indiv" ng-options="user as user for user in users">
                              <option label="" value=""></option>
                              option
                            </select>
                          </div>
                        </div>
                        <!-- description -->
                        <div class=" col-xs-12 col-sm-12">
                          <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" class="form-control" ng-model="editTran.description"></textarea>
                          </div>
                        </div>
                      </div>

                      <div class="message-section" ng-show="updateSuccess">
                        <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
                        <p class="add-success"> {{successMessage}}</p>
                      </div>

                  </div>
                  <div class="modal-footer" style="display: inline-block; width: 100%">
                    <div class="delete">
                      <button class="btn btn-red delete" ng-show="!deleting" ng-click="deleting = ! deleting"><i class="fa fa-trash-o "></i></button>
                      <div ng-show="deleting">
                        <button class="btn btn-blue delete" ng-click="deleting = ! deleting">Cancel</button>
                        <button class="btn btn-red delete" ng-disabled="posting" ng-click="deleteTransaction(editTran);deleting = ! deleting" data-dismiss="modal">Delete</button>
                      </div>
                    </div>
                    <button ng-show="!deleting" type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button ng-show="!deleting" class="btn btn-green btn-full" name="submit" type="submit" data-dismiss="modal" ng-disabled="posting" ng-click="updateTransaction(editTran)">Update</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END MODAL -->
        </tr>
      </tbody>
    </table>
  </div>

</section>
