.analysis .message-section {
  padding: 8px 0;
}
.analysis .message-section .add-success {
  color: #527E6A;
  display: inline;
  position: relative;
  top: -4px;
  left: 4px;
  font-size: 16px;
}
.analysis .message-section .fa-check-circle {
  color: #527E6A;
}
.analysis .analyze-options .btn-fixed {
  width: 135px;
}
.analysis .analyze-options .btn-group-label {
  float: left;
  margin-top: 8px;
  width: 174px;
  font-size: 16px;
}
.analysis .analyze-options select.chart-select {
  max-width: 270px;
}
