.analysis .message-section {
  padding: 8px 0;
}
.analysis .message-section .add-success {
  color: #527E6A;
  display: inline;
  position: relative;
  top: -4px;
  left: 4px;
  font-size: 16px;
}
.analysis .message-section .fa-check-circle {
  color: #527E6A;
}
.analysis .analyze-options .btn-fixed {
  width: 130px;
}
.analysis .analyze-options .btn-group-label {
  float: left;
  margin-top: 8px;
  width: 164px;
  font-size: 15px;
}
.analysis .analyze-options select.chart-select {
  max-width: 260px;
}
.analysis .analyze-options .controls-container {
  margin-bottom: 24px;
}
.analysis .chart .chart-data {
  min-width: 310px;
  height: 500px;
  max-width: 600px;
  margin: 0 auto 32px auto;
}
.analysis .transaction-totals .totals {
  display: inline-block;
}
