section.category-table {
  max-width: 880px;
  margin: 0 auto;
}
section.category-form .add-heading h3 {
  display: inline-block;
  margin-right: 8px;
}
section.category-form .add-heading button {
  margin-bottom: 6px;
}
