.no-link-item {
  padding: 16px;
}
.form-auth {
  max-width: 340px;
  margin: 0 auto;
}
.btn-google {
  margin-left: 16px;
  width: 47%;
}
.auth-btn {
  width: 47%;
}
section.category-table {
  max-width: 880px;
  margin: 0 auto;
}
section.category-form .add-heading h3 {
  display: inline-block;
  margin-right: 8px;
}
section.category-form .add-heading button {
  margin-bottom: 6px;
}
.user-section .add-heading h3 {
  display: inline-block;
  margin-right: 8px;
}
.user-section .add-heading button {
  margin-bottom: 6px;
}
.transaction-form .quick-add-category-btn {
  margin-top: 25px;
  margin-left: 8px;
  font-size: 9px;
}
.transaction-form .btn-date {
  margin-top: 22px;
  width: 100%;
}
.transaction-form .btn-full {
  width: 100%;
}
.transaction-form .add-success {
  color: green;
  display: inline;
  position: relative;
  top: -4px;
  left: 4px;
  font-size: 16px;
}
.transaction-form .fa-check-circle {
  color: green;
}
.quick-add-category h4 {
  margin-left: 16px;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.view-window {
  padding: 50px;
  padding-top: 100px;
}
.navbar {
  margin-bottom: 0;
}
.cat-success {
  text-align: center;
  padding: 12px;
}
.cat-success .add-success {
  color: green;
  display: inline;
  position: relative;
  top: -4px;
  left: 4px;
  font-size: 16px;
}
.cat-success .fa-check-circle {
  color: green;
}
@media only screen and (max-width: 600px) {
  .view-window {
    padding: 25px;
    padding-top: 100px;
  }
}
