.transaction-form .quick-add-category-btn {
  margin-top: 25px;
  margin-left: 8px;
  font-size: 9px;
}
.transaction-form .btn-date {
  margin-top: 22px;
  width: 100%;
}
.transaction-form .btn-full {
  width: 100%;
}
.transaction-form .add-success {
  color: #527E6A;
  display: inline;
  position: relative;
  top: -4px;
  left: 4px;
  font-size: 16px;
}
.transaction-form .fa-check-circle {
  color: #527E6A;
}
.transaction-form input.track-input {
  display: inline;
}
.transaction-form input.phone-btn {
  display: none;
}
.transactions-list div.range-picker-container div.form-group {
  max-width: 25%;
  display: inline-block;
}
.transactions-list div.range-picker-container div.form-group input.track-input {
  display: inline;
}
.transactions-list div.range-picker-container div.form-group input.phone-btn {
  display: none;
}
.quick-add-category h4 {
  margin-left: 16px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px !important;
  }
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding: 0;
  }
  section.transaction-form .phone-btn {
    width: 88%;
    height: 70px;
    padding: 2px;
  }
  section.transaction-form input.track-input {
    display: none;
  }
  section.transaction-form input.phone-btn {
    display: inline;
    text-align: center;
    background-color: #649D79;
    border-color: #5C826A;
    color: #ffffff;
  }
  section.transaction-form .input-group-addon {
    display: none;
  }
  section.transaction-form .btn-reg-edit {
    height: 70px;
  }
  section.transaction-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
  }
  section.transaction-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
  }
  section.transaction-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
  }
  section.transaction-form :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
  }
  section.transactions-list .range-btn-group {
    display: inline-block;
    width: 100%;
  }
  section.transactions-list .range-btn-group button {
    height: 70px;
    width: 25%;
  }
  section.transactions-list div.range-picker-container .phone-btn {
    width: 88%;
    height: 70px;
    padding: 2px;
  }
  section.transactions-list div.range-picker-container input.track-input {
    display: none;
  }
  section.transactions-list div.range-picker-container input.phone-btn {
    display: inline;
    text-align: center;
    background-color: #649D79;
    border-color: #5C826A;
    color: #ffffff;
  }
  section.transactions-list div.range-picker-container .input-group-addon {
    display: none;
  }
  section.transactions-list .phone-data {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media only screen and (max-width: 450px) {
  .hide-sm {
    display: none;
  }
}
