.transaction-form .quick-add-category-btn {
  margin-top: 25px;
  margin-left: 8px;
  font-size: 9px;
}
.transaction-form .btn-date {
  margin-top: 22px;
  width: 100%;
}
.quick-add-category h4 {
  margin-left: 16px;
}
