@import 'dimens';
@import 'colors';

.analysis {
  .message-section{
    padding: @separator 0;
    .add-success {
      color: #527E6A;
      display: inline;
      position: relative;
      top: -@halfSeparator;
      left: @halfSeparator;
      font-size: @separator * 2;
    }

    .fa-check-circle {
      color: #527E6A;
    }
  }


}




