@import 'dimens';
@import 'colors';

.analysis {
  .message-section{
    padding: @separator 0;
    .add-success {
      color: #527E6A;
      display: inline;
      position: relative;
      top: -@halfSeparator;
      left: @halfSeparator;
      font-size: @separator * 2;
    }

    .fa-check-circle {
      color: #527E6A;
    }
  }

  .analyze-options {
    .btn-fixed{
      width: 130px;
    }
    .btn-group-label{
      float: left;
      margin-top: @separator;
      width: 164px;
      font-size: 15px;
    }
    select.chart-select {
      max-width: 260px;
      //margin-left: 15px;
    }
    .controls-container{
      margin-bottom: @separator*3;
    }
  }

  .chart {
    .chart-data{
      min-width: 310px;
      height: 500px;
      max-width: 600px;
      margin: 0 auto 32px auto
    }
  }


}




