@import 'colors';
@import 'dimens';
@import 'navigation';
@import 'auth';
@import 'categories';



body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.view-window {
  padding: @mainPadding;
  padding-top: @mainPadding * 2;
}

// Bootstrap overrides

.navbar {
  margin-bottom: 0;
}
