@import 'dimens';
@import 'colors';

.transaction-form{
  .category-select{
    // width: 80%;
    // display: inline;
  }

  .quick-add-category-btn {
    margin-top: 25px;
    margin-left: @separator;
    font-size: 9px;

  }

  .btn-date {
    margin-top: 22px;
    width: 100%;
  }

  .btn-full {
    width: 100%;
  }

  .add-success {
    color: green;
    display: inline;
    position: relative;
    top: -@halfSeparator;
    left: @halfSeparator;
    font-size: @separator * 2;
  }

  .fa-check-circle {
    color: green;
  }


}

.quick-add-category {
  h4 {
    margin-left: @separator * 2;
  }
}
