@import 'dimens';
@import 'colors';

section.transactions-table{
  .range-picker-container{
    margin-top: @separator * 1.5;
  }
}

.edit-transaction-modal{
  .delete{
    float: left;
  }

  .btn-date {
    width: 100%
  }

  input.track-input {
    display: inline;
  }
  input.phone-btn {
    display: none;
  }

  @media only screen and (max-width: 600px){

    .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
      padding: 0;
    }

    .phone-btn {
      width: @phoneBtnWidth;
      height: @phoneBtnHeight;
      padding: @halfSeparator/2;
    }
    input.track-input {
      display: none

    }
    input.phone-btn {
      display: inline;
      text-align: center;
      background-color: #649D79;
      border-color: #5C826A;
      color: #ffffff;
    }
    .input-group-addon {
      display: none
    }

    .modal-footer {
      button{
        height: @phoneBtnHeight;
        min-width: @phoneBtnHeight;
      }
    }

    input.phone-btn ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ffffff;
    }
    input.phone-btn ::-moz-placeholder { /* Firefox 19+ */
      color: #ffffff;
    }
    input.phone-btn :-ms-input-placeholder { /* IE 10+ */
      color: #ffffff;
    }
    input.phone-btn :-moz-placeholder { /* Firefox 18- */
      color: #ffffff;
    }


  }
}
